
body{
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, Adwaita Sans, Cantarell, Ubuntu, roboto, noto, helvetica, arial, sans-serif;

}
h1{
font-size: 88px;
}

h2{
    font-size: 48px;
    color: #378ffb;
    font-weight: 300;
}
section{

    max-width: 50%;
    margin: 0 auto;
}